.clients {
  padding-top: 60px;
  padding-bottom: 60px;
  @include desktop {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  &__title {
    margin-bottom: 30px;
    @include desktop {
      margin-bottom: 50px;
    }

    @include text(null, null, 28px, 33px, 0.03em, null);
    @include desktop {
      @include text(null, null, 36px, 42px, 0.03em, null);
    }
    text-align: center;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  &__item {
    height: 92px;
    width: calc((100% - 30px) / 2);
    @include tablet {
      width: calc((100% - 60px) / 3);
    }
    @include desktop {
      width: calc((100% - 150px) / 6);
    }
  }
  &__link {
    @include centered(flex, center, center);
    width: 100%;
    height: 100%;
    @include transition(color, border, null, 250ms, var(--function-cubic));

    outline: transparent;
    color: var(--logo-color);
    border: 1px solid var(--logo-color);
    border-radius: 4px;
    &:hover,
    &:focus {
      color: var(--accent-color);
      border: 1px solid var(--accent-color);
    }
  }
  &__logo {
    fill: currentColor;
  }
}
