.hero {
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;

  background-color: #c4c4c4;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/banner-hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  &__title {
    max-width: 696px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;

    @include text(null, 900, 44px, 60px, 0.06em, var(--title-color));
    text-transform: uppercase;
  }
}
