.our-work {
  display: none;
  @include desktop {
    display: block;
  }
  padding-bottom: 94px;
  &__title {
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;

    @include text(null, null, 36px, 42px, 0.03em, null);
    text-align: center;
  }
  &__list {
    display: flex;
  }
  &__img {
    max-width: 100%;
    height: auto;
  }
  &__item:not(:last-child) {
    margin-right: 30px;
  }
  &__thumb {
    position: relative;
  }
  &__sub-title {
    position: absolute;
    @include centered(flex, center, center);
    width: 100%;
    height: 70px;
    bottom: 0;
    left: 0;

    @include text(null, null, 14px, 16px, 0.03em, var(--title-color));
    text-align: center;
    text-transform: uppercase;
    background-color: rgba(47, 48, 58, 0.8);
  }
}
