.site-nav {
  @include tablet {
    margin-left: 88px;
  }
  @include desktop {
    margin-left: 93px;
  }
  &__list {
    display: none;
    @include tablet {
      display: flex;
    }
  }
  &__item:not(:last-child) {
    margin-right: 50px;
  }
  &__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    @include transition(color, null, null, 250ms, var(--function-cubic));
    @include text(null, 500, 14px, 16px, 0.02em, var(--primary-tex-color));
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
}

.current-page {
  position: relative;
  color: var(--accent-color);
  &::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
  }
}
