.social {
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }
  @include desktop {
    margin-left: 70px;
  }
  &__title {
    margin-bottom: 20px;

    @include text(null, 700, 14px, 16px, 00.03em, var(--title-color));
    text-transform: uppercase;
  }
  &__list {
    @include centered(flex, null, center);
  }
  &__item {
    width: 44px;
    height: 44px;
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }
  }
  &__link {
    @include centered(flex, center, center);
    width: 100%;
    height: 100%;

    @include transition(background-color, null, null, 250ms, var(--function-cubic));

    background-color: rgba(255, 255, 255, 0.1);
    color: var(--title-color);
    border-radius: 50%;
    &:hover,
    &:focus {
      background-color: var(--accent-color);
    }
  }
  &__icon {
    fill: currentColor;
  }
}
