.main-btn {
  @include centered(flex, center, center);
  min-width: 200px;
  height: 50px;

  @include transition(background-color, null, null, 250ms, var(--function-cubic));
  @include text(inherit, 700, 16px, 30px, 0.06em, var(--title-color));
  text-align: center;

  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0;
  border-radius: 4px;
  border-color: transparent;
  &:hover,
  &:focus {
    background-color: var(--secondary-bgc-btn);
  }
}

.hero__btn {
  margin: 0 auto;
}

.subscribe-btn {
  margin: 0 auto;
  @include desktop {
    margin-left: 12px;
  }
  &__icon {
    margin-left: 10px;
  }
}

.send-btn {
  margin: 30px auto 0 auto;
}
