.logo {
  @include text(null, 700, 24px, 28px, 0.03em, var(--accent-color));
  font-family: 'Raleway', sans-serif;
  @include desktop {
    @include text(null, null, 26px, 31px, null, null);
  }
  &-header {
    padding-top: 16px;
    padding-bottom: 16px;
    @include tablet {
      padding-top: 26px;
      padding-bottom: 26px;
    }
    @include desktop {
      padding-top: 24px;
      padding-bottom: 25px;
    }

    &__label {
      color: #000000;
    }
  }
  &-footer {
    display: block;
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 0;
    margin-bottom: 20px;
    &__label {
      color: var(--title-color);
    }
  }
}
